@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
  transition: all 2s;
}

body {
  overflow-x: hidden !important;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home svg {
  padding: 1.7rem;
  width: 100%;
  margin-top: 3rem;
}
.home .main-post {
  padding: 2rem;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.home .main-post .date {
  color: gray;
  font-weight: 300;
}
.home .main-post .title {
  max-width: 35ch;
  font-size: 2.8rem;
  line-height: 3.5rem;
}
.home .main-post .author {
  font-weight: bold;
  font-size: 1.2rem;
}
.home .main-post .desc {
  font-size: 1.3rem;
  max-width: 42ch;
  font-weight: 400;
  margin: 0.6rem 0;
  color: rgb(110, 109, 107);
}
.home .main-post .read {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 0.7rem;
}
.home .main-post .info {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.home .main-post img {
  flex: 3;
  border-radius: 33px;
}
.home .sec-posts {
  padding: 2rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.home .sec-posts .best-post {
  flex: 7;
  position: relative;
}
.home .sec-posts .best-post .content {
  position: absolute;
  bottom: 5%;
  left: 2.5%;
  color: #fff;
}
.home .sec-posts .best-post .content .date {
  color: gray;
  font-weight: 300;
}
.home .sec-posts .best-post .content .title {
  font-size: 2.3rem;
  line-height: 2.8rem;
  padding: 0.5rem 0;
}
.home .sec-posts .best-post .content .author {
  font-weight: bold;
  font-size: 1.2rem;
}
.home .sec-posts .best-post .content .desc {
  font-size: 1.3rem;
  max-width: 42ch;
  font-weight: 400;
  margin: 1.6rem 0;
}
.home .sec-posts .best-post .content .read {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.home .sec-posts .best-post .content .read:hover {
  text-decoration: underline;
}
.home .sec-posts .best-post .content .info {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.home .sec-posts .best-post img {
  border-radius: 15px;
  height: 70vh;
  margin-top: 1.5rem;
}
.home .sec-posts .posts {
  display: flex;
  flex: 4;
  gap: 2rem;
}
.home .sec-posts .posts .post .title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.home .sec-posts .posts .post .date {
  padding: 0.5rem 0;
  color: gray;
}
.home .sec-posts .posts .post .read {
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
.home .sec-posts .posts .post img {
  height: 25vh;
  border-radius: 10px;
}
.home .banner {
  padding: 2rem 0;
  margin: 12rem 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-top: 3rem;
}
.home .banner .slides {
  display: inline-block;
  animation: moveText 20s linear infinite;
}
.home .banner .slides .moving-text {
  font-size: 180px;
}
.home .banner .slides1 {
  display: inline-block;
  animation: moveText1 20s linear infinite;
}
.home .banner .slides1 .moving-text {
  font-size: 180px;
}
.home section {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 6rem;
}
.home section .left-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.home section .left-side .post .date {
  color: gray;
  font-weight: 300;
}
.home section .left-side .post .title {
  font-size: 2.3rem;
  line-height: 2.8rem;
  padding: 0.5rem 0;
}
.home section .left-side .post .author {
  font-weight: bold;
  font-size: 1.2rem;
}
.home section .left-side .post .img2 {
  margin-top: 5.8rem;
}
.home section .left-side .post .desc {
  font-size: 1.3rem;
  max-width: 42ch;
  font-weight: 400;
  margin: 1.6rem 0;
  color: rgb(110, 109, 107);
}
.home section .left-side .post .read {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.home section .left-side .post .info {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.home section .left-side .post img {
  border-radius: 33px;
  height: 60vh;
  margin-top: 3rem;
}
.home section .right-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.home section .right-side .post .date {
  color: gray;
  font-weight: 300;
}
.home section .right-side .post .title {
  font-size: 2.3rem;
  line-height: 2.8rem;
  padding: 0.5rem 0;
}
.home section .right-side .post .author {
  font-weight: bold;
  font-size: 1.2rem;
}
.home section .right-side .post .img2 {
  margin-top: 5.8rem;
}
.home section .right-side .post .desc {
  font-size: 1.3rem;
  max-width: 42ch;
  font-weight: 400;
  margin: 1.6rem 0;
  color: rgb(110, 109, 107);
}
.home section .right-side .post .read {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.home section .right-side .post .info {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.home section .right-side .post img {
  border-radius: 33px;
  height: 60vh;
  margin-top: 3rem;
}
@keyframes moveText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes moveText1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1100px) {
  .main-post {
    flex-direction: column;
  }
  .sec-posts {
    flex-direction: column;
  }
  .hidden {
    flex-direction: column;
  }
}/*# sourceMappingURL=home.css.map */